---
import "./global.css";
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rammetto+One&family=Secular+One&display=swap" rel="stylesheet">
	<title>VideoKompressor</title>
</head>
<body>
<header>
	<h1>VideoKompressor</h1>
</header>

<slot />

</body>
</html>

<style>
	body {
		display: grid;
		grid-template-rows: auto 1fr;
		width: 70rem;
		margin: 0 auto;
		padding: 2.5rem;
		border: 0.25rem solid black;
		background: white;
		box-shadow: 0.5rem 0.5rem black;
	}
</style>
